{%- set _variant = site.footer.variant | default("default") -%}
<footer role="contentinfo" class="c-footer c-footer--columns-cta{% if _variant and _variant != 'default' %} c-footer--{{ _variant }}{% endif %}">
  {% include "footer/slots/cta-block.njk" %}
  <div class="c-container c-footer__inner">
    {% include "footer/slots/intro.njk" %}
    {% include "footer/slots/groups.njk" %}
  </div>
  {% include "footer/slots/bottom.njk" %}
</footer>
