{%- set _companyName = (site.footer.companyName | t(pageLanguage)) or (site.title | t(pageLanguage)) or "Marbas" -%}
<div class="c-footer-intro">
  <strong class="c-footer-intro__name">{{ _companyName }}</strong>
  {%- if site.footer.intro %}
  <p class="c-footer-intro__text">{{ site.footer.intro | t(pageLanguage) }}</p>
  {%- endif %}
</div>
